.head {
    color: #f9faf8;
    font-size: 24px;
    background-color: #1f2937;
    font-weight: bold;
    padding: 80px;
    width: 48%;
    float: left;
    
    
    
}

.ref a {
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 18px;
    text-decoration: none;
    width: auto;
    float: left;
    margin: 30px;
   
 


}

.ref {
    display: flex;
    padding: 50px;
    justify-content: right;
    align-items: flex-end;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: auto;
    
}

.picture {
color: whitesmoke;
background-color: grey;
width: 1100px;
height: 400px;
padding: 25px;
float: right;
border-radius: 15px;
margin: 30px 100px -100px -30px;
}
    


.main {
    background-color: #1f2937;
    font-size: 48px;
    color: #f9faf8;
    padding: 100px 100px 15px 100px;
    height: 150px;
    width: 200px;
   
}

.submain {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    text-align: center;
    height: 89px;
    width: 300px;
    padding: 10px 100px 0px 100px;
    text-align: left;
}

body {
    background-color:#1f2937;
    display: block;
    box-sizing: border-box;
   
   
    
}



.info {
    font-size: 36px;
    color: #1f2937;
}



.button {
    display: inline-flex;
    height: 150;
    width: 200;
    padding: 30px;
    background-color: #3882f6;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    align-self: top;
    position: relative;
    left: 67px;
    margin: 30px;
    padding: -20px 0px 0px 0px;
    
   
    
}

.button:hover {
    background-color:hsl(217, 88%, 32%)
}

.pt2 {
    background-color: white;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    text-align: center;
    padding: 100px 0px 45px 0px;
    margin: 100px 0px 0px 0px;
    border: 0px;
    

}

.blue {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    color: #fcfcfc;
    align-items: row;
    font-weight: 500;
    font-size: 18px;
    height: 230px;
    padding: 50px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    
    
   
}

#box1 {
    border: 5px solid #2c51ce73;
    padding: 50px;
    height: 120px;
    border-radius: 15px;
    color: rgb(131, 131, 201);
    padding: 25px 50px 25px 50px;
}

#box2 {
    border: 5px solid #064a99;
    padding: 50px;
    height: 120px;
    border-radius: 15px;
    color: rgb(131, 131, 201);
    padding: 25px 50px 25px 50px;
}

#box3 {
    border: 5px solid rgb(70, 127, 212);
    padding: 50px;
    height: 120px;
    border-radius: 15px;
    color: rgb(131, 131, 201);
    padding: 25px 50px 25px 50px;
}

#box4{
    border: 5px solid rgb(156, 193, 228);
    padding: 25px 50px 25px 50px;
    height: 120px;
    border-radius: 15px;
    color: rgb(131, 131, 201);
    
    
    
    
    
}

.undblue {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    color: darkslateblue;
    align-items: row;
    font-weight: 500px;
    font-size: 18px;
    display: border-box;
    align-content: flex-start;
margin: 0px;
border: 0px;
    height: 120px;
    color: rgb(131, 131, 201);
    padding: 25px 50px 25px 50px;
}

.ubox1 {
    width: 175px;
}
.ubox2 {
    width: 175px;
}
.ubox3 {
    width: 175px;
}
.ubox4 {
    width: 175px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    color: #1f2937;
    font-size: 36px;
    padding: 200px 150px 0px 150px;
    box-sizing: border-box;  
    margin: 0px;
    border: 0px;
   
}

.subquote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    padding: 100px;
    margin: 0px;
    border: 0px;
 

    
}


   
.final {
    display: flex;
    background-color: white;
    width: auto;
    margin: 0 auto;
    height: 200px;
    padding: 130px 150px 200px 150px;
    flex-direction: row;
   
    justify-content: center;
    align-items: center;

   
    
   
} 
    
.hey {
   display: block;
   width: 2000px;
    background-color: #3882f6;
    justify-content: flex-start;
   padding: 100px;
    margin: 0;
    border: 0;
    height: 50px;
    color: white;
    align-content: center;
    font-size: 32px;
    font-weight: 700;
    border-radius: 15px;
  
    
    
}

.hey2 {
   display: block;
   justify-content: flex-start;
   font-size: 16px;
   font-weight: 500;
   margin: 0px;
   border: 0px;
   
  
   
}

.button2 {
    display: flex;
    height: 100px;
    width: 180px;
    align-self: center;
    padding: -30px 30px 30px 30px;
    background-color: rgb(34, 85, 172);
    border-radius: 15px;
    border: 2px solid white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    left: 67px;
    padding: -20px 0px 0px 0px;
    float: right;
    justify-content: center;
    align-items: center;
    position: relative; left: -250px; top: -70px;

    

  
}

.button2:hover {
    background-color: rgb(21, 48, 94);
}

.last {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 25px; 
    justify-content: center;
}


